@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@media (max-width: 991) {

}

html, body {
    font-family: 'Poppins', sans-serif;;
}

.h1 {
    font-size: 35px;
    color: rgb(23, 142, 240);
}

.nav-item {
    font-size: 19px;
}

.butn {
    width: 120px;
    height: 40px;
    font-size: 19px;
    margin-left: 5px;
    box-shadow: 3px 3px 5px rgb(134, 134, 134);
    font-weight: 600;
}

header {
    box-shadow: 0px 0px 20px rgb(134, 134, 134);
}

.img-1 {
    width: 100%;
}

.img-1 img {
    width: 100%;
    margin-top: 30px;
}

.marcas {
    text-align: center;
    margin-top: 15px;
}

.marcas-img img {
    width: 110px;
    margin: 20px 50px 20px 50px;
}

.userimg {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.user {
    display: flex;
    flex-direction: row;
}

.user a {
    margin: 15px 10px 0px 0px;
}

.sair {
    color: red;
}

.form1 {
    display: block;
    position: relative;
    margin: auto;
}

.form1 h1 {
    margin: 20px;
    text-align: center;
}

.form1 #interesses {
    width: 50%;
    text-align: center;
    position: relative;
    margin: 20px auto;
    font-size: 20px;
    padding: 10px;
}

.contn {
    display: flex;
    flex-direction: row;
}

.enviar {
    
}